<div>
  <h1>Check Book Availability</h1>
  
  <div class="row">
    <div class="col-md-5">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Enter Book Id</label>
        <input [(ngModel)]="bookId" type="text" class="form-control">
      </div>
      <div class="form-group">
          <button (click)="checkBook()" class="btn btn-success">Show Report</button>
     </div>
    </div>
  </div>
  </div>


  <div class="table-responsive">
      <table class="table">
          <tr>
              
              <th scope="col">Id</th>
              <th scope="col">Book Id</th>
              <th scope="col">Rack</th>
              <th scope="col">Status</th>
            </tr>
        <tr *ngFor="let book of booksbyId">
          <td>{{book.id}}</td>
          <td>{{book.bookid}}</td>
          <td>{{book.rack}}</td>
          <td>{{book.status}}</td>
        </tr>
      </table>
      
    </div>