<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
<style>
h1{
  color: blue;
  text-align: center;
  rotate: initial;  
}
p{
    color:darkred ;
    background-color: floralwhite;
}
</style>
</head>

<body>
    <h1>
        Privacy policy
    </h1>

    <p>
            crickmart.com and its affiliates respect your privacy. Please read all the privacy policies carefully. Online Cricket Store holds the right to change its privacy policy anytime without any prior intimation.

            We collect the information which is provided by you during your registration process
            We use your collected information for completing your orders which are placed by you.
            We also use this information for our marketing offers, so that it can reach directly to you.
            We do not sale your information to other companies for marketing purposes.  Although we hold the right to share this information to any third party without your consent.
            You hold the right to modify your information anytime. You can also request to be removed from any marketing offers and mailing services. You can hold the right to cancel your registration anytime
            We guarantee you that every effort will be made to safeguard your data that has been collected by us; however the data collected on the internet is always at limited risk. By using our services you agree to this limited risk and will not hold us and our affiliates liable to any loss.     
            

    </p>
</body>
</html>

