<!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-md-3">
        
    </div>
    <div class="col-md-7"></div>
</div> -->
<!-- <!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../assets/shared.css">
</head>
<style>
  input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  input[type=text]:focus {
    width: 100%;
  }
</style> -->

<!-- <body> -->
  <table>
    <tr>
      <td>
        <img src="../assets/govt_logo.jpg" alt="Govt logo" height="100px" width="100px">
      </td>
      <td style="width: 1000px;text-align: center;">
        <h1 style="color: blueviolet;">      R T O      M A N A G E M E N T      S Y S T E M      </h1>
        <H2 style="color: aqua;">      V E H I C L E      I N F O R M A T I O N      M A N A G E M E N T      S Y S T E M      </H2>
      </td>
    </tr>
  </table>
  <!-- <div class="topnav"> -->
      <!-- <div class="navbar-header">
          <a class="navbar-brand" href="/user">Hello ,USER</a>
          <a class="navbar-brand" href="/admin">Hello ,ADMIN</a>
        </div> -->
    <!-- <h3>Hello ,Shubham Have a nice and wonderful day...!!!</h3>
    <a class="active" href="/home">Home</a>
    <a routerLink="/login">Login</a>
    <a routerLink="register">Register</a>
    <a routerLink="/guardian">Guardian</a>
    <a routerLink="/profile">Edit profile</a>
    <a routerLink="/logout">Logout</a>
    <a routerLink="/demolicense">DemoLicense</a>
    <div class="search-container">
      <form action="/action_page.php">
        <input type="text" placeholder="Search Book by Name" name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div> -->
  <div class="container">
    <router-outlet></router-outlet>
  </div>
<!-- 
</body>

</html> -->