<div class="table-responsive">
    <table class="table">
        <tr>
            <th scope="col">Product Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Price</th>
            <th scope="col">Updated Date</th>
            <th scope="col">Stock</th>
            <th></th>
        </tr>
  
      <tr *ngFor="let p of product">
        <td>{{p.pId}}</td>
        <td>{{p.pName}}</td>
        <td>{{p.price}}</td>
        <td>{{p.pUpdated}}</td>
        <td>{{p.stock}}</td>

        <td><a href="/user/addtocart/{{p.pId}}"> add to cart</a></td>
      </tr>
    </table>
    
  </div>
  



