<h1 style="text-align: center">Edit Product</h1>
<form (ngSubmit)="UpdateProduct()">
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="">Product Id</label>
      <input [(ngModel)]="prod.pId" type="text" name="pId" readonly class="form-control">
    </div>
    <div class="form-group">
      <label for="">Product Name</label>
      <input [(ngModel)]="prod.pName" type="text"name="pName" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Product Category</label>
      <input [(ngModel)]="prod.productCategory" name="productCategory"  type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Product Description</label>
        <input [(ngModel)]="prod.pDesc" name="pDesc" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Product price</label>
      <input [(ngModel)]="prod.price" name="price" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Product Stock</label>
      <input [(ngModel)]="prod.stock" name="stock" type="number" class="form-control">
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-success">Edit</button>
    </div>
  </div>
</div>
</form>

