
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
<style>
h1{
  color: blue;
  text-align: center;
  rotate: initial;  
}
p{
    color:darkred ;
    background-color: floralwhite;
}
</style>
</head>

<body>
    <h1>
        Corporate office
    </h1>
<address>
        a&s enterprises
        123,mukai nagar,
         krishna hall
        hinjewadi phase 1
        pune
        India
    </address>
</body>
</html>
