<p>license works!</p>
<h1>Welcome Shubham....</h1>

<form action="demolicense" method="POST" role="form">
    <legend>License </legend>
    <div class="form-group">
        <label for="">License Type</label>
        <select name="type" id="type" class="form-control" required="required">
            <option value="LEARNING">LEARNING</option>
            <option value="DRIVING">DRIVING</option>
            <!-- 2wheeler ki 4 wheeler aag kyan karila -->
        </select>
    </div>
    <!-- <a href="demolicense">
        <button type="submit" class="btn btn-primary">Submit</button>
    </a> -->
    <a href="profile">
        <button type="button" class="btn btn-success">Login</button>
    </a>
</form>