
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Desc</th>
            <th>Stock</th>
            <th>ratings</th>
            <th>Stock</th>
            <th>Stock</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prod  of prod">
            <td>{{prod.p.id}}</td>
            <td>{{prod.p.name}}</td>
            <td>{{prod.p.price}}</td>
            <td>{{prod.prod}}</td>
            <td>{{prod.prod}}</td>
            <td>{{prod.prod}}</td>
            <td>{{prod.prod}}</td>
            <td>{{prod.prod}}</td>
        </tr>
    </tbody>
</table>

