<nav class="navbar sticky-top navbar-inverse" *ngIf="flag">
        <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Hello ,{{email}}</a>
            </div>
      
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" [ngSwitch]="email">
              <ul class="nav navbar-nav">
      
                <!-- <li><a routerLink="/home/edit">Edit Profile</a></li>
                <li><a routerLink="/home/changePassword" routerLinkActive="active">Change Password</a></li>
      
       -->
                <ul class="nav navbar-nav" *ngSwitchCase="'User'">
                <li><a routerLink="/home/user">User Home</a></li>
                <li><a routerLink="/home/profile">Profile</a></li>
                <li><a routerLink="/home/license">License</a></li>
                <li><a routerLink="/home/vehicle">Vehicle</a></li>
                <li><a routerLink="/home/demolicense">Demo License</a></li>
                <li><a routerLink="/home/ustatus">Status</a></li>
      
                <!-- <li> <form class="navbar-form navbar-left" role="search">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search Book by Name">
                  </div>
                  <button type="button" (click)="onSearch()" class="btn btn-default">Search</button>
                </form>
              </li> -->
              </ul>
      
      
                <ul class="nav navbar-nav" *ngSwitchCase="'Admin'">
                <li ><a routerLink="/home/licensereq">Subjectwise Copies Report</a></li>
                <li><a routerLink="/home/bookwise">Bookwise Copies Report</a></li>
                <li><a routerLink="/home/feesorfine">Fees/Fine Report</a></li>   
              </ul>
               
              <ul class="nav navbar-nav" *ngSwitchCase="'User'">
                <li><a routerLink="/home/listofissuedBook">Issued Books</a></li>
                <li><a routerLink="/home/userpaymenthistoty">Payment History</a></li>
                <li><a routerLink="/home/help">help</a></li>
      
                <li> <form class="navbar-form navbar-left" role="search">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search Book by Name">
                  </div>
                  <button type="button" (click)="onSearch()" class="btn btn-default">Search</button>
                </form></li>
              </ul>
      
              <ul class="nav navbar-nav navbar-right">
                <li><button (click)="onLogout()" style="margin-top: 10px;" class="btn btn-link">Logout</button></li>
              </ul>
            </ul>
            </div>
        </div>
      </nav>
      
      <div class="container">
        <router-outlet></router-outlet>
      </div>
      