<!-- <p>register works!</p>
<form method="post">
    <table style="background-color: cyan; margin: auto;">
        <tr>
            <td>FirstName</td>
            <td><input type="text" name="firstname" /></td>
        </tr>
        <tr>
            <td>LastName</td>
            <td><input type="text" name="lastName" /></td>
        </tr>
        <tr>
            <td>Addhar Card No</td>
            <td><input type="text" name="aadharCard" /></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" name="email" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Login" /></td>
        </tr>
    </table>
</form> -->


<link rel="stylesheet" href="../assets/shared.css">
<h1>Sign Up</h1>
<form method="POST" role="form">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="">First Name</label>
                <input type="text" name="firstname" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Last Name</label>
                <input type="text" name="lastName" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Addhar Card No</label>
                <input type="text" name="aadharCard" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input type="email" name="email" class="form-control">
            </div>
            <!-- <div class="form-group">
                <label for="">Phone</label>
                <input type="number" name="phone" class="form-control">
            </div> -->
            <div class="form-group">
                <label for="">Password</label>
                <input type="password" name="password" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Role</label>
                <input type="text" name="role" class="form-control" value="USER">
            </div>
            <button type="button" name="submit" class="btn btn-success">SignUp</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" name="cancel" class="btn btn-danger">Cancel</button>

        </div>
    </div>

</form>