<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
<style>
h1{
  color: blue;
  text-align: center;
  rotate: initial;  
}
p{
    color:darkred ;
    background-color: floralwhite;
}
</style>
</head>

<body>
    <h1>
        About us
    </h1>

    <p>
            
            We appreciate that you had spared your valuable time to know about cricmart.com
            
            
             crcimart deals in Cricket Kits, Cricket Accessories, Cricket Kits Set, Customized Cricket Jersey, White and Off White Cricket Jersey, Cricket shoes, cricket kit bags, cricket gloves, leg guards, cricket bats, Cricket Inner Gloves, Cricket Elbow Guard, Cricket Thigh Guard, Cricket Arm Guard, Cricket Batting Gloves, Cricket Wicket keeping Gloves and everything you know about cricket. We guarantee 110% authentic and genuine products of your favorite brand. 
            
            We deal in Top Brands like SS, SG, Kookaburra, Puma, Adidas, GM, Grey Nicolls, MRF, New Balance, BAS Vampire, Spartan and lot others.
            
            Top Service is something that makes our online cricket shop different from other stores. We already have hundred of satisfied customers all over the world which only trusts us. We not only guarantee you the top service but also assure you that you will have no complaints from our side.
            
            The pictures you see on our website are clicked by our own professionals and you will receive a similar set of the product. We don’t deal in copyright images, we deal in genuine cricket. What we promise, we deliver the same.

    </p>
</body>
</html>
