<p>guardian works!</p>
<form action="guardian" method="get">
    <table style="background-color: cyan; margin: auto;">
        <tr>
            <td>Guardian Name</td>
            <td><input type="text" name="guardianName" /></td>
        </tr>
        <tr>
            <td>Guardian Mobile No.</td>
            <td><input type="text" name="guardianMobNo" /></td>
        </tr>
        <tr>
            <td>relation</td>
            <td><select name="relation">
                    <option value="Mother">
                    <option value="Father">
                    <option value="Husband">
                    <option value="Wife">
                    <option value="Other">
                </select></td>
        </tr>
        <tr>
            <td><input type="submit" value="submit" /></td>
        </tr>
    </table>
</form>