<div class="table-responsive">
    <table class="table">
      <tr>
          <th scope="col">Order Id</th>
          <th scope="col">Customer Id</th>
          <th scope="col">Order Date</th>
          <th scope="col">Amount</th>
          <th scope="col">Order Status</th>
      </tr>
      <tr *ngFor="let o of orders">
        <td>{{o.order_id}}</td>
        <td>{{o.user_id}}</td>
        <td>{{o.order_date}}</td>
        <td>{{o.amount}}</td>
        <td>{{o.status}}</td>
      </tr>
    </table>
    
  </div>
  
