<p>demolicense works!</p>
<h2>Your license card will look like this</h2>
<table class="table table-bordered table-hover">
    <caption>
        <h1>IDENTITY CARD</h1>
    </caption>
    <tr>
        <td>Applicant Name</td>
        <td>:</td>
        <td>Shubham kabra</td>
        <td rowspan="5"><img src="../../assets/passport.jpg" alt="passport-photo"> </td>
    </tr>
    <tr>
        <td>Guardian Name</td>
        <td>:</td>
        <td>Anil Kabra</td>
        <td></td>
    </tr>
    <tr>
        <td>Address</td>
        <td>:</td>
        <td>phase 1,Hingewadi,Pune.</td>
        <td></td>
    </tr>
    <tr>
        <td>Phone No</td>
        <td>:</td>
        <td>123456789</td>
        <td></td>
    </tr>
    <tr>
        <td>D.O.B.</td>
        <td>:</td>
        <td>1998-2-6</td>
        <td></td>
    </tr>
    <tr>
        <td>Type</td>
        <td>:</td>
        <td>Two wheeler</td>
        <td></td>
    </tr>
    <tr>
        <td>Validity</td>
        <td>From:</td>
        <td><input type="text" value="1-1-2019" readonly></td>
        <td>To:</td>
        <td><input type="text" value="1-1-2039" readonly></td>
    </tr>
</table>