<h1 style="text-align: center">Register Here</h1>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="">First Name</label>
      <input [(ngModel)]="register.firstName" name="firstName" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Last Name</label>
        <input [(ngModel)]="register.lastName" name="lastName" type="text" class="form-control">
      </div>
    <div class="form-group">
      <label for="">Email</label>
      <input [(ngModel)]="register.email" name="email" type="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Phone</label>
      <input [(ngModel)]="register.phone" name="phone" type="tel" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Password</label>
      <input [(ngModel)]="register.password" name="password" type="password" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Address Line 1</label>
      <input [(ngModel)]="register.address.addressLine1" name="addressLine1" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Address Line 2</label>
        <input [(ngModel)]="register.addressLine2" name="addressLine2" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Country</label>
        <select name="country" [(ngModel)]="register.address.country" id="country" class="form-control">
          <option>Select Country</option>
          <option>India</option>
        </select>
    </div>
    <div class="form-group">
        <label for="">State</label>
        <select name="state" id="state" [(ngModel)]="register.address.state" class="form-control">
          <option>Select State</option>
          <option>Maharashtra</option>
        </select>
    </div>
    <div class="form-group">
        <label for="">City</label>
        <select name="city" id="city" [(ngModel)]="register.address.city" class ="form-control">
          <option>Select City</option>
          <option>Pune</option>
          <option>Mumbai</option>
          <option>Nagpur</option>
        </select>
    </div>
    <div class="form-group">
        <label for="">Zip</label>
        <input [(ngModel)]="register.address.zip" type="text" class="form-control">
    </div>
    <div class="form-group">
        <button (click)="onSignup()" class="btn btn-success">Update</button>
        
    </div>
  </div>
</div>


